@charset "UTF-8";

body {
	color: #333333;
	width: 800px;
	margin: 20px auto;
	text-align: center;
}

ul {
	list-style: none;
	text-align: center;
	padding: 5px;
}

article {
	margin-top: 10px;
	border: 2px solid; border-radius : 5px;
	background-color: #CCFFFF;
	border-radius: 5px;
	padding-bottom: 5px;
	height: auto;
}

.message-text {
	margin-right:auto;
	margin-left: auto;
	width: 550px;
	background-color: white;
	border: solid 1px;
	border-radius: 5px;
}

.comment {
	width: 400px;
	margin: 5px auto;
	font-size: small;
	border: 1px solid; border-radius : 5px;
	background-color: #FFFFEE;
	border-radius: 5px;
}

.errorMessages {
	color: red;
}

.user {
	padding: 5px 5px;
}

dl {
	width: 300px;
	margin-right: auto;
	margin-block-start: auto;
	margin-inline-start: auto;
}

.setting dl , .signup dl{
	width: 350px;
	margin-right: auto;
	margin-block-start: auto;
	margin-inline-start: auto;
}


dl dt {
	width: 100px;
	padding: 5px 0;
	float: left;
	clear: both;
}

.setting dl dt, .signup dl dt {
	width: 150px;
	padding: 5px 0;
	float: left;
	clear: both;
}

dl dd {
	width: 250px;
	padding: 5px 0;
}

.setting dl dd , .signup dl dd{
	width: 250px;
	padding: 5px 0;
	margin-inline-start: auto;
}

.new-message textarea {
	margin-right:auto;
	marign-left: auto;
	padding: 5px 0;

}

